body 
{
	background: url('../images/bg1.jpg') no-repeat center center fixed;
} 

@font-face {
  font-family: "Big Noodle";
  src: url("../font/bignoodle.ttf");
}

.divOpaco
{
	background: #fff;
    background: rgba(10, 10, 10, .30);
}

.colorBlanco

{
	color:white;
}

.cajaPrincipal
{
margin-top: 50px;
}

.boton
{
	min-width: 50%;
	margin-top: 20px;
	font-size: 20px;
}

.botonJuego
{
	vertical-align: center;
	min-width: 40%;
	min-height: 50%;
	margin-top: 40px;
	margin-left: 10px;
	font-size: 40px;
}
.margenSup
{
	margin-top: 30px;
}

.margenSupMax
{
	margin-top: 200px
}

.margenMapa
{
	margin-top: 100px
}

.margenInf
{
	margin-bottom: 30px;
}

.margenDerecho
{
	margin-right: 20px;
}

.fuenteTitulo
{
	font-family: "Big Noodle";
}

.fuenteOrden
{
	font-size: 20px;
}

.cajaMapa
{
	height: 700px;
	margin-top: 80px;
	margin-left: 40px;
}

.cajaNavegacion
{
	height: 500px;
	margin-top: 80px;
}

.cajaOpc
{
	height: 170px;
}

.cajaDatos
{
	height: 550px;
	margin-top: 100px;
}

.cajaCriminal
{
	height: 550px;
	margin-top: 100px;
}

.pistas
{
	height: 150px;
	width: 550px;
	margin-left: 6%;
	margin-top: 2%;
}

.cajaOrden
{
	height: 100%;
}

.botonOrden
{
	display: none;
}

.botonMapa
{
	width: 100%;
}