body 
{
	background: url('../images/carta.jpg') no-repeat center center fixed;

} 

@font-face {
  font-family: "Another Type";
  src: url("../font/atwriter.ttf");
}

.divOpaco
{
	background: #fff;
    background: rgba(10, 10, 10, .30);
}

.colorBlanco

{
	color:white;
}

.cajaPrincipal
{
margin-top: 50px;
}

.boton
{
	min-width: 50%;
	margin-top: 20px;
	font-size: 20px;
}

.botonJuego
{
	min-width: 25%;
	min-height: 50%;
	margin-top: 40px;
	margin-left: 10px;
	font-size: 30px;
}
.margenSup
{
	margin-top: 200px;
}

.margenInf
{
	margin-bottom: 30px;
}

.margenDerecho
{
	margin-right: 20px;
}

.margenIzq
{
	margin-left: 30px;
}

.fuenteTitulo
{
	font-family: "Another Type";
	font-size: 18px;
}

.cajaMapa
{
	height: 700px;
	margin-top: 80px;
	margin-left: 40px;
}

.cajaNavegacion
{
	height: 100%;
	margin-top: 200px;
}

.cajaOpc
{
	height: 170px;
}

